html, body{
    height: 100%;
}
.itemTable:hover {
    background-color: #ccccb3;
    cursor:pointer;
}

.itemTable::selection{
    background-color: #35DAFA;
}

.itemTable {
    transition-duration: 0.4s;
}

#filtro {
    background:#fff;
}

#total {
    background:#fff;
}

#filtroClass {
    float: left;
    border-style: solid;
    border-right: thick double #000000;
    height:1000px;
}

hr {
    border-color: #000000;
    border-width: 2px;
}

.centerSide{
    width: 900px;

}

#valor{
    font-family: Lobster, Monospace;
}
