
html, body {
    font-family: Lobster, Monospace;
}

.itemTable:hover {
    cursor: pointer;
}

.itemTable {
    transition-duration: 0.4s;
}

.centerSide {
    width: 900px;
}

.painel {
    padding-top: 30px;
}

.segmentVantagem {
    transition-duration: 0.4s;
}

.segmentVantagem:hover {
    background-color: #bdbdbd;
    box-shadow: 0px 5px 5px #000011;
}

.ui.huge.header.computer {
    font-size: 9em;
}

.ui.huge.header.mobile {
    font-size: 3em;
}

.espacamentoMedio {
    padding-top: 77px;
}